<!-- ******************************************
*  Author : Heshenghuan   
*  Created On : Sun Jul 22 2018
*  File : index.html
******************************************* -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Heshenghuan">
    <title>Vue.js #18.1 学习/title>
</head>

<body>
    <div id="app">
        <div>
            <span>人员信息</span>
        </div>
        <div>
            <span>名字：{{name}}</span>
            <br>
            <input type="text" v-model="name">
        </div>
        <div>
            <span>年龄：{{age}}</span>
            <br>
            <input type="text" v-model="age">
        </div>
        <div>
            <span v-show="gender">性别：{{gender}}</span>
            <br>
            <input type="text" v-model="gender">
        </div>
    </div>
    <script src="../lib/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>